workflows/ai-lead-intake-workflow.json
{
  "name": "AI Lead Intake – Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        -176
      ],
      "id": "f6b42556-4d8c-4c21-b866-e79105a0c284",
      "name": "Webhook",
      "webhookId": "99da4121-15a0-4a55-8e05-9eff17ff53b7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7d9ddc7e-74c1-4c2a-bb44-2f7e95a6f874",
              "leftValue": "={{$json.body.name}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "254e33a9-03aa-4cd7-ab6e-439a1675a08c",
              "leftValue": "={{$json.body.email}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "dda03743-724f-4a57-8d84-5be5ec79cb5b",
              "leftValue": "={{$json.body.message}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        -176
      ],
      "id": "9dd89018-8cde-4af7-b8f6-f30d6ecee0b7",
      "name": "Validate Input Payload"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"Invalid input. Required fields: name, email, message.\"\n}\n",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -64,
        80
      ],
      "id": "fdf3f92f-83a8-4e1d-b44e-d4d7798c64eb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n  \"status\": \"success\",\n  \"lead\": {\n    \"name\": \"{{ $json.Name }}\",\n    \"email\": \"{{ $json.Email }}\",\n    \"category\": \"{{ $json.Category }}\",\n    \"intent\": \"{{ $json.Intent }}\",\n    \"urgency\": \"{{ $json.Urgency }}\",\n    \"lead_score\": {{ $json.Lead_Score }},\n    \"short_reason\": \"{{ $json.Short_Reason }}\"\n  }\n}\n",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        80
      ],
      "id": "81cd7a8c-c69a-4dca-8d6a-77fef94e510c",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI sales assistant.\n\nAnalyze the following lead and return a STRINGIFIED JSON object\n(no markdown, no explanation).\n\nFields:\n- intent: high | medium | low\n- category: sales | support | partnership | unknown\n- urgency: immediate | soon | later\n- lead_score: number between 0 and 100\n- short_reason: one short sentence\n\nGuidelines:\n- High intent + immediate urgency → 80–100\n- Medium intent → 40–70\n- Low intent → 0–30\n\nLead details:\nName: {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nMessage: {{ $json.body.message }}\nSource: {{ $json.body.source }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -32,
        -192
      ],
      "id": "11f86c81-1273-4140-b880-9d93147923e6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "meta-llama/llama-3-8b-instruct",
          "mode": "list",
          "cachedResultName": "meta-llama/llama-3-8b-instruct"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        -48
      ],
      "id": "a665a869-d831-4f6d-8411-a2a573515c49",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xCFisvyFlgbViAwZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get webhook payload\nconst webhook = $items(\"Webhook\")[0].json.body;\n\n// 2. Get LLM output\nconst llmOutput = $input.first().json;\n\n// 3. Parse AI JSON\nconst ai = JSON.parse(llmOutput.text);\n\n// 4. Return merged object\nreturn [{\n  name: webhook.name,\n  email: webhook.email,\n  source: webhook.source,\n  message: webhook.message,\n\n  intent: ai.intent,\n  category: ai.category,\n  urgency: ai.urgency,\n  lead_score: ai.lead_score,\n  short_reason: ai.short_reason\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -192
      ],
      "id": "78307d47-fdd2-4530-bb54-845ebcb7bcb7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d364efaa-fe8e-42fb-816b-32333ad8d7b5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9b3624a0-9782-41ff-9c84-bd4cdd8ea0a4",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "33a24b6b-b0d4-4c79-8da7-c22d19dfda7c",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "unknown",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unknown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        496,
        -208
      ],
      "id": "dde96e57-b6b1-47bf-9e54-3c96a00665a0",
      "name": "Switch",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yIcdfTVCXeP7ytexM9Xn-lUro-T-qa-_8696wM4PFaQ",
          "mode": "list",
          "cachedResultName": "AI Lead Intake",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yIcdfTVCXeP7ytexM9Xn-lUro-T-qa-_8696wM4PFaQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sales_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yIcdfTVCXeP7ytexM9Xn-lUro-T-qa-_8696wM4PFaQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$now}}",
            "Email": "={{$json.email}}",
            "Source": "={{$json.source}}",
            "Message": "={{$json.message}}",
            "Intent": "={{$json.intent}}",
            "Category": "={{$json.category}}",
            "Urgency": "={{$json.urgency}}",
            "Lead_Score": "={{$json.lead_score}}",
            "Short_Reason": "={{$json.short_reason}}",
            "Name": "={{$json.name}}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead_Score",
              "displayName": "Lead_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Short_Reason",
              "displayName": "Short_Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        -272
      ],
      "id": "c0b5444e-788e-4733-95cd-d096b2963417",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HUakYfMsS4UiqTHi",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Payload": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2503d532-9558-4761-a348-8a687689583c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05b54351dc93b0fbc57c8c2740758647288de9a9b3d38c48d418b58110e509a7"
  },
  "id": "Ze9B1ZOf6DppioFb__YR8",
  "tags": []
}